.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 30px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  padding-left: 25px;
}

.cardWrapper {
  margin-left: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #ffa500;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 30px 40px;
  text-wrap: nowrap;
}

.button:hover {
  background-color: #ffc04d;
}

.button:active {
  background-color: #e68900;
}

.button.hide {
  display: none;
}

.noCards {
  font-size: 30px;
  font-weight: bold;
  color: rgba(240, 248, 255, 0.74);
  margin-left: 50px;
}

@media only screen and (max-width: 375px) {
  .buttonContainer {
    margin: 0px 60px 0px 0px !important;
  }
  .container {
    justify-content: center;
    width: 75%;
  }

  .noCards {
    font-size: 28px;
  }
}

@media only screen and (max-width: 390px) {
  .empty {
    margin: 200px 0px 0px 0px;
    width: 75%;
  }

  .container {
    justify-content: center;
    width: 75%;
  }

  .button {
    margin: 10px 0px 0px 20px;
  }

  .empty .button {
    margin: 20px 0px 20px 10px;
  }

  .noCards {
    margin-left: 10px;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .noCards {
    font-size: 29px;
  }
  .buttonContainer {
    margin: 10px 0px 20px 0px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .empty {
    margin: 200px 0px 0px 0px;
    width: 85%;
  }

  .container {
    justify-content: center;
    width: 85%;
  }

  .buttonContainer {
    margin: 20px 0px 80px 10px;
  }

  .empty .button {
    margin: 20px 0px 20px 10px;
  }

  .noCards {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .buttonContainer {
    margin: 20px 70px 10px 0px;
  }

  .empty {
    margin: 200px 0px 0px 30px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .buttonContainer {
    margin: 20px 70px 10px 0px;
  }
  .empty {
    margin: 200px 0px 0px 50px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .buttonContainer {
    margin: 20px 70px 10px 0px;
  }
  .empty {
    margin: 200px 0px 0px 70px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .empty {
    margin: 200px 0px 0px 100px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
  .buttonContainer {
    margin: 20px 70px 0px 0px;
  }
}
