.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 30px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.cardWrapper {
  margin-left: 10px;
}

.button {
  background-color: #ffa500;
  padding: 30px 40px;
  margin: 20px 0px 20px 850px;
  text-wrap: nowrap;
}

.toDeckButton {
  margin: 20px 0px 20px 50px;
}

.button:hover {
  background-color: #ffc04d;
}

.button:active {
  background-color: #e68900;
}

.button.hide {
  display: none;
}

.noCards {
  font-size: 30px;
  font-weight: bold;
  color: rgba(240, 248, 255, 0.74);
  margin-left: 50px;
}

@media only screen and (max-width: 375px) {
  .empty {
    margin: 200px 0px 0px 0px;
    width: 75%;
  }

  .container {
    justify-content: center;
    width: 75%;
  }

  .button {
    margin: 20px 0px 20px 30px;
  }

  .empty .button {
    margin: 20px 0px 20px 30px;
  }

  .noCards {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 390px) {
  .empty {
    margin: 200px 0px 0px 0px;
    width: 75%;
  }

  .container {
    justify-content: center;
    width: 75%;
  }

  .button {
    margin: 20px 0px 20px 90px;
  }

  .empty .button {
    margin: 20px 0px 20px 10px;
  }

  .noCards {
    margin-left: 10px;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .noCards {
    font-size: 29px;
  }
}

@media only screen and (max-width: 575.98px) {
  .empty {
    margin: 200px 0px 0px 0px;
    width: 85%;
  }

  .container {
    justify-content: center;
    width: 85%;
  }

  .button {
    margin: 20px 0px 20px 160px;
  }

  .empty .button {
    margin: 20px 0px 20px 10px;
  }

  .noCards {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .button {
    margin: 20px 0px 20px 190px;
  }

  .empty {
    margin: 200px 0px 0px 30px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .button {
    margin: 20px 0px 20px 390px;
  }
  .empty {
    margin: 200px 0px 0px 50px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .button {
    margin: 20px 0px 20px 500px;
  }
  .empty {
    margin: 200px 0px 0px 70px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    margin: 20px 0px 20px 790px;
  }
  .empty {
    margin: 200px 0px 0px 100px;
    width: 85%;
  }
  .empty .button {
    margin: 20px 0px 20px 70px;
  }
}
