.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 30px;
}

.cardWrapper {
  margin-left: 10px;
}

.button {
  background-color: #ffa500;
  padding: 30px 40px;
}

.button:hover {
  background-color: #ffc04d;
}

.button:active {
  background-color: #e68900;
}

.button.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 20px 0px 0px 155px;
  }
}

@media only screen and (min-width: 600px) {
  .button {
    margin: 20px 0px 0px 260px;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    margin: 20px 0px 0px 400px;
  }
}

@media only screen and (min-width: 992px) {
  .button {
    margin: 20px 0px 0px 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    margin: 60px 0px 0px 850px;
  }
}
